
body {
  font-family: 'Arial', sans-serif;
  background: #f7f7f7;
  margin: 0;
  padding: 0;
}


.AppHeader {
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  margin: 0;
}


div {
  box-sizing: border-box;
}


.mehsulListi {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.mehsul {
  border: 1px solid #ddd;
  padding: 1rem;
  background: #fff;
  border-radius: 4px;
}

.mehsul img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 1rem;
}

.mehsul h3 {
  margin: 0 0 1rem 0;
}

.mehsul p {
  font-size: .9rem;
  color: #666;
}

.mehsul button {
  background-color: #5cb85c;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.mehsul button:hover {
  background-color: #4cae4c;
}


.sebet {
  position: fixed;
  right: 0;
  top: 0;
  width: 300px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 1rem;
  height: 100%;
  box-shadow: -2px 0 5px rgba(0,0,0,0.1);
}

.sebet h2 {
  margin-top: 0;
}

@media (max-width: 600px) {
  .sebet {
    display: none;
  }
}

.mehsullarContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px; 
}

.mehsul {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 250px; 
  margin: 0 auto; 
  padding: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mehsul img {
  width: 100%;
  height: auto;
  margin-bottom: 8px;
}

.mehsul h3 {
  font-size: 1.2rem;
  color: #333;
}

.mehsul p {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 16px;
}

.mehsul button {
  background-color: #5cb85c;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.mehsul button:hover {
  background-color: #4cae4c;
}


/* @media (max-width: 768px) {
  .mehsullerContainer {
    flex-direction: column;
    align-items: center;
  }
} */



